world-clock
  clearfix()
  background #fff
  position relative
  margin-top 80px
  margin-bottom 40px
  pointer-events none
  z-index 30
  display block
  overflow hidden
  h3
    font-weight normal
    font-size 18px
    line-height 1.1em
    position absolute
    color #666666
    bottom 71px
    display block
    width 1200px
    margin-left -600px
    left 50%
    .icon
      background-icon()
      height 40px
      width 60px
      background-position -25px -130px
      display inline-block
      vertical-align middle
    p
      display inline-block
      vertical-align middle
  .digit
  .placeholder
    text
      fill #666
      font-weight 300
      font-size 20px
      text-anchor middle
  .counter
    text
      font-size 48px
  .country-title
    font-size 16px
    fill #555
    text-anchor middle
